body {
    background-color: #121212;
    color: #e0e0e0;
}

a {
    color: #bb86fc;
}

header {
    background-color: #1e1e1e;
}

footer {
    background-color: #1e1e1e;
    color: #888;
}

code {
    background-color: #2e2e2e;
    color: #e0e0e0;
}
